.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  margin: 2px 32px 0 0;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

#delete-button-container {
  position: fixed;
  bottom: 20px; /* Ajustez selon vos besoins pour l'espace du bas */
  right: 20px; /* Ajustez selon vos besoins pour l'espace de droite */
  z-index: 1000; /* Assurez-vous que le bouton est au-dessus du contenu */
}
