.container {
  margin-top: 24px;
  margin-bottom: 32px;
 }

 .container-form {
  background-color: white;
  margin: 40px;
  padding: 40px;
 }

 .container-booking {
  background-color: white;
  margin: 40px;
  padding: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
 }
