<div class="container">
  <h1>Edit Vehicle</h1>
    <%= render "shared/form" %>
</div>
<div id="delete-button-container">
  <%= button_to "  Remove", vehicle_path(@vehicle), method: :delete, class:"no-style fa-solid fa-trash p-2", data: { confirm: 'Are you sure you want to delete this Vehicle?' }  %>
</div>
